[submodule "metadata"]
	path = metadata
	url = https://github.com/exercism/x-common.git
[submodule "tracks/clojure"]
	path = tracks/clojure
	url = https://github.com/exercism/xclojure.git
[submodule "tracks/coffeescript"]
	path = tracks/coffeescript
	url = https://github.com/exercism/xcoffeescript.git
[submodule "tracks/csharp"]
	path = tracks/csharp
	url = https://github.com/exercism/xcsharp.git
[submodule "tracks/elixir"]
	path = tracks/elixir
	url = https://github.com/exercism/xelixir.git
[submodule "tracks/go"]
	path = tracks/go
	url = https://github.com/exercism/xgo.git
[submodule "tracks/haskell"]
	path = tracks/haskell
	url = https://github.com/exercism/xhaskell.git
[submodule "tracks/javascript"]
	path = tracks/javascript
	url = https://github.com/exercism/xjavascript.git
[submodule "tracks/objective-c"]
	path = tracks/objective-c
	url = https://github.com/exercism/xobjective-c.git
[submodule "tracks/ocaml"]
	path = tracks/ocaml
	url = https://github.com/exercism/xocaml.git
[submodule "tracks/perl5"]
	path = tracks/perl5
	url = https://github.com/exercism/xperl5.git
[submodule "tracks/python"]
	path = tracks/python
	url = https://github.com/exercism/xpython.git
[submodule "tracks/ruby"]
	path = tracks/ruby
	url = https://github.com/exercism/xruby.git
[submodule "tracks/scala"]
	path = tracks/scala
	url = https://github.com/exercism/xscala.git
[submodule "tracks/cpp"]
	path = tracks/cpp
	url = https://github.com/exercism/xcpp.git
[submodule "tracks/dlang"]
	path = tracks/dlang
	url = https://github.com/exercism/xdlang.git
[submodule "tracks/erlang"]
	path = tracks/erlang
	url = https://github.com/exercism/xerlang.git
[submodule "tracks/fsharp"]
	path = tracks/fsharp
	url = https://github.com/exercism/xfsharp.git
[submodule "tracks/java"]
	path = tracks/java
	url = https://github.com/exercism/xjava.git
[submodule "tracks/lisp"]
	path = tracks/lisp
	url = https://github.com/exercism/xlisp.git
[submodule "tracks/perl6"]
	path = tracks/perl6
	url = https://github.com/exercism/xperl6.git
[submodule "tracks/php"]
	path = tracks/php
	url = https://github.com/exercism/xphp.git
[submodule "tracks/rust"]
	path = tracks/rust
	url = https://github.com/exercism/xrust.git
[submodule "tracks/ecmascript"]
	path = tracks/ecmascript
	url = https://github.com/exercism/xecmascript.git
[submodule "tracks/lua"]
	path = tracks/lua
	url = https://github.com/exercism/xlua.git
[submodule "tracks/swift"]
	path = tracks/swift
	url = https://github.com/exercism/xswift.git
[submodule "tracks/bash"]
	path = tracks/bash
	url = https://github.com/exercism/xbash.git
[submodule "tracks/c"]
	path = tracks/c
	url = https://github.com/exercism/xc.git
[submodule "tracks/groovy"]
	path = tracks/groovy
	url = https://github.com/exercism/xgroovy.git
[submodule "tracks/nimrod"]
	path = tracks/nimrod
	url = https://github.com/exercism/xnimrod.git
[submodule "tracks/powershell"]
	path = tracks/powershell
	url = https://github.com/exercism/xpowershell.git
[submodule "tracks/r"]
	path = tracks/r
	url = https://github.com/exercism/xr.git
[submodule "tracks/sml"]
	path = tracks/sml
	url = https://github.com/exercism/xsml.git
[submodule "tracks/vbnet"]
	path = tracks/vbnet
	url = https://github.com/exercism/xvbnet.git
[submodule "tracks/plsql"]
	path = tracks/plsql
	url = https://github.com/exercism/xplsql.git
[submodule "tracks/scheme"]
	path = tracks/scheme
	url = https://github.com/exercism/xscheme.git
[submodule "tracks/coldfusion"]
	path = tracks/coldfusion
	url = https://github.com/exercism/xcoldfusion.git
[submodule "tracks/haxe"]
	path = tracks/haxe
	url = https://github.com/exercism/xhaxe.git
[submodule "tracks/pony"]
	path = tracks/pony
	url = https://github.com/exercism/xpony.git
[submodule "tracks/lfe"]
	path = tracks/lfe
	url = https://github.com/exercism/xlfe.git
[submodule "tracks/elisp"]
	path = tracks/elisp
	url = https://github.com/exercism/xelisp.git
[submodule "tracks/tcl"]
	path = tracks/tcl
	url = https://github.com/exercism/xtcl.git
[submodule "tracks/racket"]
	path = tracks/racket
	url = https://github.com/exercism/xracket.git
[submodule "tracks/elm"]
	path = tracks/elm
	url = https://github.com/exercism/xelm.git
[submodule "tracks/crystal"]
	path = tracks/crystal
	url = https://github.com/exercism/xcrystal.git
[submodule "tracks/nim"]
	path = tracks/nim
	url = https://github.com/exercism/xnim.git
[submodule "tracks/kotlin"]
	path = tracks/kotlin
	url = https://github.com/exercism/xkotlin.git
[submodule "tracks/teco"]
	path = tracks/teco
	url = https://github.com/exercism/xteco.git
[submodule "tracks/factor"]
	path = tracks/factor
	url = https://github.com/exercism/xfactor.git
[submodule "tracks/nasm"]
	path = tracks/nasm
	url = https://github.com/exercism/xnasm.git
