[submodule "metadata"]
	path = metadata
	url = https://github.com/exercism/x-common.git
[submodule "problems/clojure"]
	path = problems/clojure
	url = https://github.com/exercism/xclojure.git
[submodule "problems/coffeescript"]
	path = problems/coffeescript
	url = https://github.com/exercism/xcoffeescript.git
[submodule "problems/csharp"]
	path = problems/csharp
	url = https://github.com/exercism/xcsharp.git
[submodule "problems/elixir"]
	path = problems/elixir
	url = https://github.com/exercism/xelixir.git
[submodule "problems/go"]
	path = problems/go
	url = https://github.com/exercism/xgo.git
[submodule "problems/haskell"]
	path = problems/haskell
	url = https://github.com/exercism/xhaskell.git
[submodule "problems/javascript"]
	path = problems/javascript
	url = https://github.com/exercism/xjavascript.git
[submodule "problems/objective-c"]
	path = problems/objective-c
	url = https://github.com/exercism/xobjective-c.git
[submodule "problems/ocaml"]
	path = problems/ocaml
	url = https://github.com/exercism/xocaml.git
[submodule "problems/perl5"]
	path = problems/perl5
	url = https://github.com/exercism/xperl5.git
[submodule "problems/python"]
	path = problems/python
	url = https://github.com/exercism/xpython.git
[submodule "problems/ruby"]
	path = problems/ruby
	url = https://github.com/exercism/xruby.git
[submodule "problems/scala"]
	path = problems/scala
	url = https://github.com/exercism/xscala.git
[submodule "problems/cpp"]
	path = problems/cpp
	url = https://github.com/exercism/xcpp.git
[submodule "problems/dlang"]
	path = problems/dlang
	url = https://github.com/exercism/xdlang.git
[submodule "problems/erlang"]
	path = problems/erlang
	url = https://github.com/exercism/xerlang.git
[submodule "problems/fsharp"]
	path = problems/fsharp
	url = https://github.com/exercism/xfsharp.git
[submodule "problems/java"]
	path = problems/java
	url = https://github.com/exercism/xjava.git
[submodule "problems/lisp"]
	path = problems/lisp
	url = https://github.com/exercism/xlisp.git
[submodule "problems/perl6"]
	path = problems/perl6
	url = https://github.com/exercism/xperl6.git
[submodule "problems/php"]
	path = problems/php
	url = https://github.com/exercism/xphp.git
[submodule "problems/rust"]
	path = problems/rust
	url = https://github.com/exercism/xrust.git
[submodule "problems/ecmascript"]
	path = problems/ecmascript
	url = https://github.com/exercism/xecmascript.git
[submodule "problems/lua"]
	path = problems/lua
	url = https://github.com/exercism/xlua.git
[submodule "problems/swift"]
	path = problems/swift
	url = https://github.com/exercism/xswift.git
[submodule "problems/assembly"]
	path = problems/assembly
	url = https://github.com/exercism/xassembly.git
[submodule "problems/bash"]
	path = problems/bash
	url = https://github.com/exercism/xbash.git
[submodule "problems/c"]
	path = problems/c
	url = https://github.com/exercism/xc.git
[submodule "problems/groovy"]
	path = problems/groovy
	url = https://github.com/exercism/xgroovy.git
[submodule "problems/nimrod"]
	path = problems/nimrod
	url = https://github.com/exercism/xnimrod.git
[submodule "problems/powershell"]
	path = problems/powershell
	url = https://github.com/exercism/xpowershell.git
[submodule "problems/proofs"]
	path = problems/proofs
	url = https://github.com/exercism/xproofs.git
[submodule "problems/r"]
	path = problems/r
	url = https://github.com/exercism/xr.git
[submodule "problems/sml"]
	path = problems/sml
	url = https://github.com/exercism/xsml.git
[submodule "problems/vbnet"]
	path = problems/vbnet
	url = https://github.com/exercism/xvbnet.git
[submodule "problems/plsql"]
	path = problems/plsql
	url = https://github.com/exercism/xplsql.git
[submodule "problems/scheme"]
	path = problems/scheme
	url = https://github.com/exercism/xscheme.git
[submodule "problems/coldfusion"]
	path = problems/coldfusion
	url = https://github.com/exercism/xcoldfusion.git
[submodule "problems/haxe"]
	path = problems/haxe
	url = https://github.com/exercism/xhaxe.git
[submodule "problems/pony"]
	path = problems/pony
	url = https://github.com/exercism/xpony.git
[submodule "problems/lfe"]
	path = problems/lfe
	url = https://github.com/exercism/xlfe.git
[submodule "problems/elisp"]
	path = problems/elisp
	url = https://github.com/exercism/xelisp.git
[submodule "problems/tcl"]
	path = problems/tcl
	url = https://github.com/exercism/xtcl.git
