!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Exercism Exercises API
    %meta{:content => "Interfacing with Exercism", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    %section#section-content
      #content-first.content-heading
        .container.container-narrow
          %a.sprite-logo-medium.pull-left{:href => "http://exercism.io"} Exercism
          %h1.pull-left The Exercism Exercise API
      #content-second
        %article.first.last
          .container.container-narrow

            = yield

    %footer#section-footer
      .container.text-center
        %p
          %a.sprite-brand{:href => "http://exercism.io"} Exercism.io
          %span.text-line
            \&copy; 2013 Katrina Owen / Source:
            = succeed "." do
              %a{:href => "http://github.com/exercism/x-api"} github.com/exercism/x-api
          %span.text-line
            Report bugs and submit feedback on
            = succeed "." do
              %a{:href => "htp://github.com/exercism/x-api/issues"} GitHub
            Email me at
            = succeed "." do
              %a{:href => "mailto:kytrinyx@exercism.io"} kytrinyx@exercism.io
